#fig {
  float: left;
  margin-left: 15%;
  margin-top: 1%;
}

#user {
  margin-left: 15%;
  margin-right: 50%;
  margin-bottom: 2%;
  position: relative;
}

#interactions {
  float: right;
  margin-right: 15%;
  margin-top: 1%;
}

.user {
  height: 30px;
  font-size: 18px;
}

#subreddits_opts { margin-top: 15px; margin-left:10px; }
a.subreddits_opts { text-decoration: none; color: #f6931f; font-weight: bold; }

#subreddits { 
  height: 150px; 
  overflow-y: hidden;
}

#subreddits:hover {
   overflow-y: scroll;
}

#selectable_subreddits .ui-selecting { color: white; opacity: 0.8; }
#selectable_subreddits .ui-selected { color: white; opacity: 0.8; }
#selectable_subreddits .notselected { color: white; opacity: 0.2; }
#selectable_subreddits { list-style-type: none; margin: 0; padding: 10px; width: 90%;  }
#selectable_subreddits li { color: white; opacity: 0.8; margin: 3px; padding: 3px; font-size: 11px; height: 14px; font-family: "Trebuchet MS", "Tahoma", "Verdana", "Arial", "sans-serif";}
p.bolded { font-weight: bold; }

#subreddits::-webkit-scrollbar {
    /*display: none;*/
    width: 6px;
}

#subreddits::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background: rgba(243,152,20,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(243,152,20,.9);
}

